.account-info-container {
  width: 100%;
  height: 100%;
  padding: 0;
  color: white;
  outline: none;
}

.account-header {
  font-size: 40px;
  font-weight: 500;
  padding-left: 40px !important;
  padding-top: 30px !important;
  padding-bottom: 26px !important;
  /* padding-left: 40px; */
  display: flex;

  background: var(--app-text-color) !important;
  align-items: center;
}

.account-details-list {
  display: flex;

  flex-direction: column;
}

.account-detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 2.5px solid var(--app-text-color);
  font-size: 30px;
}

.detail-label {
  color: #e0e0e0;
}

.detail-value {
  color: #bbb;
  font-weight: 400;
}

.status-active {
  color: #4caf50;
  /* Green color for Active status */
}
