.prelogin-page-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
width: 100%;
      animation: fadeInOut 1s ease-in-out;
        background-size: cover;
    background-position: center;
    position: fixed;
background: var(--app-bg);
}

.prelogin-page-container img{
  margin-bottom: 100px;
  zoom: 1.5;
  width: 370px;
}

.prelogin-logo{
  margin-bottom: 40px;
  zoom: 3;
}