.settings-main-container {
  width: 100%;
  color: white;
  height: 100vh;
  animation: fadeInOut 1s ease-in-out;
  padding-top: 200px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 200px;

  width: 100%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  font-size: 50px;
  background-color: var(--app-bg);
}

.settings-title {
  background: var(--app-text-color) !important;
}

.settings-title i {
  margin-right: 30px;
}

.settings-first-container h1 {
  font-size: 50px;
  font-weight: 500;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding-left: 40px; */
  display: flex;
  align-items: center;
  /* padding-bottom: 40px; */
}

.settings-first-container {
  width: 50%;
  margin-right: 60px;
  /* padding-left: 70px; */
  background: var(--app-bg) !important;
  border: 2px solid var(--app-text-color);
  padding-right: 0px;
  /* padding-top: 90px; */
  padding-bottom: 90px;
}

.settings-first-content {
  display: flex;
  flex-direction: column;
}

.settings-second-container {
  width: 50%;
  margin-right: 40px;
  /* padding-left: 70px; */
  background: var(--app-bg) !important;
  border: 2px solid var(--app-text-color);
  padding-right: 0px;
  /* padding-top: 90px; */
  padding-bottom: 90px;
}

.settings-pages-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.settings-pages-container p {
  display: flex;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 46px;
  padding-right: 46px;
  font-weight: 500;
  background-color: transparent;
  align-items: center;
  color: white;
  margin-bottom: 30px;
}

.settings-pages-container p img {
  object-fit: contain;
  zoom: 1.1;
  padding-right: 28px;
  height: 48px;
}

.settings-pages-container-image-active {
  object-fit: contain;
  zoom: 1.1;
  padding-right: 28px;
  height: 48px;
}

.settings-pages-container-active {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 46px;
  padding-right: 46px;
  color: white !important;
  background: var(--app-text-color) !important;
  align-items: center;
  margin-bottom: 30px;
  /* transform: scale(1.05); */
  transition: transform 0.2s ease;
  /* Added subtle rounding */
  position: relative;
}

.settings-pages-container-active::after {
  content: "";
  position: absolute;
  right: -41.7px;
  top: 10%;
  width: 24px;
  display: none !important;
  zoom: 1.6;
  height: 48px;
  background-image: url("/assets/left-union.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
