.stream-format-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-left: 40px;
    padding-top: 40px;

    padding-right: 40px;
    height: 100%;
    zoom: 1.1;
    color: #fff;
}

.stream-format-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 28px;
    color: #e6e6e6;
    letter-spacing: 1px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;
}

.radio-option {
    display: flex;
    margin-bottom: 40px;
    font-size: 40px;
    align-items: center;
    border: 2px solid #afafaf64;
   /* border: 2px solid #FFFFFF; */
    padding: 15px 20px;
    background: #00000099;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.radio-option:hover {
    background: rgba(255, 255, 255, 0.12);

    transform: translateY(-2px);
}

.radio-option input[type="radio"] {
    display: none;

}

.custom-radio {
    width: 30px;
    height: 30px;
   border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin-right: 15px;
    position: relative;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-radio::after {
    content: "\2713";
    color: black;
    font-size: 14px;
    font-weight: bold;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.radio-option input[type="radio"]:checked + .custom-radio {
      background: linear-gradient(90deg, #6cc7ff, #ff86d1);

}

.radio-option input[type="radio"]:checked + .custom-radio::after {
    transform: scale(1.5);
}

.radio-option.radio-focused {
    border: 2px solid #60AAF8;
}

.radio-option input[type="radio"]:focus + .custom-radio {
    box-shadow: 0 0 0 3px rgba(11, 118, 247, 0.5);
}

.option-label {
    font-size: 30px;
    font-weight: 500;
    color: #e6e6e6;
}

.option-description {
    font-size: 13px;
    color: #a0a0a0;
    margin-top: 3px;
}

#saveBtn {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: white;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    border-radius: 50px;
    /* background-color: #FDBD0F; */
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

#saveBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(11, 118, 247, 0.4);
}

#saveBtn:focus {
    background: var(--light-gradient) !important;
    outline: none;
}

#saveBtn:active {
    transform: translateY(0);
}

.save-btn-focused {
    background: var(--light-gradient) !important;
    outline: none;
}

.saveBtn-div{
    display: flex;
    justify-content: center;
}